<script>
  import { Button, ButtonGroup } from "sveltestrap"
  import AllPosts from "../AllPosts.svelte"

  $: postType = "listItem"
  let allPosts
</script>

<h1>Dynamic Rendering Sample</h1>
<div class="div-buttongroup">

    <Button
      on:click={() => {
        allPosts.postType = "preview"
      }}>PREVIEW</Button
    >
    <Button
      on:click={() => {
        allPosts.postType = "listItem"
      }}>LISTITEM</Button
    >
 
</div>

<AllPosts bind:this={allPosts} {postType} />

<style>
  .div-buttongroup {
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
  }
</style>
