<svelte:options accessors />


<script>
    import Post from './Post.svelte';
  
    export let postType = 'preview';
  
   let posts = [
      {
        title: 'Post One',
        author: 'Ashley',
        summary: 'I am Post One\'s awesome summary!'
      },
      {
        title: 'Post Two',
        author: 'Diane',
        summary: 'I am Post Two\'s even more awesome summary!'
      },
      {
        title: 'Post Three',
        author: 'Miguel',
        summary: 'A way cooler summary for Post Three!'
      }
    ];
  </script>



<div class = "all-posts">
    {#each posts as post}
      <Post {post} {postType} />
    {/each}
  </div>