<script>
    export let post;
  </script>
  
  <div class = "post list-item">
    <p>{post.title} by {post.author}</p>
  </div>
  
  <style>
    .post.list-item {
      margin-bottom: 25px;
      font-weight: bold;
    }
  </style>