<script>
  import PreviewPost from "./PreviewPost.svelte"
  import ListItemPost from "./ListItemPost.svelte"

  export let post
  export let postType

  let contentOptions = [
    { format: "preview", component: PreviewPost },
    { format: "listItem", component: ListItemPost },
  ]

  $: component = contentOptions.find((type) => type.format == postType).component
</script>

<!-- svelte:component IST das dynamische Rendering -->
<svelte:component this={component} {post} />
