<script>
    export let post;
  </script>
  
  <div class = "post preview">
    <h2>{post.title}</h2>
    <p>{post.author}</p>
    <p>{post.summary}</p>
  </div>
  
  <style>
    .post.preview {
      margin-bottom: 25px;
    }
  </style>